* {
    padding: 0;
    margin: 0;
}


#sidenav {

    height: 100vh;
    position: fixed;
}

#overrideZIndex {
    z-index: 1000 !important;

}

#logoBg {
    width: 50% !important;
}

#product {
    display: flex;
    align-items: center;
    justify-content: center;

}

.visibleNav {
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    z-index: 1000;
}

.buttonBox2 {
    
    display: none;
    color: beige !important;
    z-index: 10;
}



@media (max-width:760px) {
    #sidenav {
        width: 50%;
        display: none;
    }

    .contentArea {
        left: 0 !important;
        width: 100%;
        height: 95%;
    }

          .buttonBox2 {
              display: flex;
              align-items: center;
              justify-content: flex-start !important;
              background-color: #040e19;
              padding: 20px;
              height: 10%;
          }

          .chef{
            /* background-color: aqua; */
            width: 25vw !important;
            padding: 0 !important;
            margin:0 !important;
          }

          .chef p{
            font-size: 10px !important;
            font-weight: 500;
          }
}