* {
  padding: 0;
  margin: 0;
}
.hide-scrollbar {
  overflow: auto; /* Enables scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

@media (max-width: 760px) {
  .hello li {
    /* color: red !important; */
    padding: 0 25px !important;
    font-size: 16px !important;
    line-height: 26px;
    width: 90%;
  }

  .hello p {
    /* color: red !important; */
    padding: 0 25px !important;
    font-size: 16px !important;
    line-height: 28px;
    font-weight: 400;
  }
}
